@btn-black-color:               #fff;
@btn-black-bg:                  #171717;
@btn-black-border:              lighten(@btn-black-bg, 25%);

.btn-dark {
	.button-variant(@btn-black-color; @btn-black-bg; @btn-black-border);	
}